/*
Theme Name: Just Go!
Author: Leonor Ferreira Carmacio
Author URI: http://www.leonordesigner.com.br/
Description: Tema criado com exclusividade para o blog Just Go!
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

@charset "utf-8";
@import url(wp-core.css);
@import url(nexa_webfont/stylesheet.css);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');
@import url(icomoon/style.css);

*{
margin:0;
padding:0;
list-style:none;
border:none;
text-decoration:none;
-webkit-text-size-adjust: none;
-webkit-appearance: none;
background-repeat:no-repeat;
}

img{ max-width:100%;height: auto; }

body{font-family: 'Open Sans', sans-serif;font-size:0.9em;}

h1{font-family: 'nexa_boldregular', sans-serif;text-transform:uppercase;color:#262262}
p{color:#6d6e71;font-weight: 300;}

#topo{width:90%;max-width:1100px;margin: 2vh auto;}
#topo div{width:33%;display:inline-block;vertical-align: top;}

#logo{text-align:center;}
.menu-redes-sociais-container{text-align:right}

#menu_fundo{background-color:#5e91d2;    margin-top: -14px; margin-bottom: -14px;}
#menu{width:90%;max-width:1100px;margin: 2vh auto;margin: 0 auto;
    padding: 3vh;
    text-align: center;}
#menu div {display:inline-block;}
#menu li{display:inline;}
#menu li:before{content:"\2022";color:#fff;}
#menu li:first-child:before{content:none}
#menu a, #menu-mobile a{color:#fff;text-transform:uppercase;font-family: 'nexa_boldregular', sans-serif;    padding: 1em 3em;letter-spacing:0.4em}
#menu-mobile a{padding:1em 1em 1em 3em;}

#menu li ul{position:absolute;left: 0;z-index:1000;display:none; width:100%; background-color:#476ca9; margin:1em 0;  }
#menu li:hover ul{display:block;}
#menu li ul:before{content:url(images/seta_submenu.png);margin-top: -0.5em;    position: absolute;     z-index: 2000;    }
#menu li ul li{transition: all 100ms linear;padding:0.8em;display:inline-block}
#menu li ul li:hover{
	background: #476ca9;
background: -moz-linear-gradient(top, #476ca9 0%, #2d5290 100%);
background: -webkit-linear-gradient(top, #476ca9 0%,#2d5290 100%);
background: linear-gradient(to bottom, #476ca9 0%,#2d5290 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#476ca9', endColorstr='#2d5290',GradientType=0 );}
#menu li ul li a{color:#fff; white-space: nowrap;font-family: 'nexa_lightregular';padding: 0;
    letter-spacing: 0.2em;
    font-size: 0.9em;}
#menu li ul li:before{content:none}

#menu li.menu-item-21 ul:before{left: 33%;}
#menu li.menu-item-24 ul:before{left: 45%;}
.home #menu li.menu-item-21 ul, .page-template-nos #menu li.menu-item-21 ul{visibility:hidden;}

#menu-mobile{padding:1.5em 0;overflow: hidden;white-space: nowrap;display:none;}
#menu-mobile .menu-menu-1-container{position:absolute;left: 0;z-index:1000;display:none; width:100%; background-color:#476ca9; margin:1em 0; text-align:center;
}
#menu-mobile .menu-menu-1-container.ativo{display:block;}
#menu-mobile .menu-menu-1-container:before{content:url(images/seta_submenu.png);margin-top: -0.5em;    position: absolute;     z-index: 2000;  left: 12%;  }
#menu-mobile .menu-menu-1-container li{padding:0.5em;}
#menu-mobile .menu-menu-1-container li ul li a{font-family: 'nexa_lightregular'}
#menu-mobile #busca{display:inline-block;border-right:none;padding: 0 0 0 2em;margin-left: 45vw;transition: all 300ms ease;}
#menu-mobile #busca #s{opacity:0}
#menu-mobile #busca.ativo{margin-left:0;}
#menu-mobile #busca.ativo #s{opacity:1}

#busca{border-left:solid 1px #7ea7db;border-right:solid 1px #7ea7db;height: 3em;
    vertical-align: middle;    padding: 0 3em;}
#s{    background: transparent;color: #fff;
    padding: 1em;}
#s::-webkit-input-placeholder{
    color: #afc8e9;}
#s:-ms-input-placeholder{
    color: #afc8e9;}
.icon{    color: #afc8e9;    font-size: 1.3em;}


#siga ul{text-align:center;}
#menu-redes-sociais li, #siga li{display:inline;}
#menu-redes-sociais li a, #siga li a {display:inline-block;width:32px;height:36px;background-image:url(images/redessociais_topo.png);    text-indent: 100%;overflow:hidden; }
#menu-redes-sociais li a:hover, #siga li a:hover {background-image:url(images/redessociais_topo_over.png); }

#menu-redes-sociais li.facebook a, #siga li.facebook a {background-position: -2px 0}
#menu-redes-sociais li.instagram a, #siga li.instagram a {background-position: -36px 0;}
#menu-redes-sociais li.youtube a, #siga li.youtube a {background-position:-71px 0}
#menu-redes-sociais li.feed a, #siga li.feed a {background-position:-107px 0}


.justgoplus{display:inline-block;width:23%;margin:1% 3.7%;border:solid 1px #b0c5e1;font-style:italic;color:#b0c5e1;padding:0.3%;transition: all 100ms linear;}
.justgoplus:hover{color:#fff;background-color:#b0c5e1;}
.justgoplus p{margin:1em 0;color:#b0c5e1;font-weight:700;} 
.justgoplus:hover p{color:#fff;} 


#slides_index{background-color:#eaeef3;padding:2em;position:relative;    margin-top: 3em;}
#nos_home{text-align:center;}
#nos_home .nos_home_texto{text-align:right;display:inline-block;    width: 25%;vertical-align: 130%;}
#nos_mobile, #localiza_mobile, #rodape_mobile{display:none;}

#posts_home{background-color:#eaeef3;}
#posts_home_dentro{width:90%;max-width:1100px;margin: 0 auto;}

#posts_home_dentro div.coluna{display:inline-block;width: 26%;margin: 4em 2% 0 2%;text-align:center;vertical-align:top}
#posts_home_dentro div.coluna.dois{width: 35%;vertical-align:middle}
#posts_home_dentro div.coluna.dois h1{font-size:1.5em; margin: 1em 0 0.5em 0;}

#vlogs{background-color:#f4f6f8;}
#vlogs_dentro{width:90%;max-width:1100px;margin: 0 auto;padding:2em 0;text-align:center}
#vlogs h1{font-size: 1em;margin: 1em 0;letter-spacing: 0.2em;text-align: center;}

#conteudo{width:90%;max-width:1100px;margin: 6vh auto;}
#sidebar{float:right;width:27%;margin-left:5%;text-align:center;    border-left: solid 1px #b0c5e1;;
    padding-left: 5%;}

#sidebar p{color:#6d6e71;font-size:0.9em}

#sidebar #porondeandamos{width:initial;margin:initial;    font-size: 0.6em;}
#sidebar #porondeandamos .mapa{width:initial;}

.coluna{margin:3em 0;}
.coluna h1, #vejatambem h1{ font-size:1em;margin: 1em 0;letter-spacing: 0.2em;}
#vejatambem h1{ margin: 1em 0 2em 0;}
.coluna h1 span, #vejatambem h1 span{ letter-spacing: 0.2em;color: #476ca9;
    font-size: 0.9em;}
#vejatambem h1 span:after{content:url(images/seta_vejatambem.png); padding: 0.5em 0 0 0.5em; position: absolute;}
.coluna h1 span a, #vejatambem h1 span a{ color: #476ca9;}

.coluna.postsmaislidos h1 span:before{content:url(images/seta_postsmaislidos.png); margin: 0 0 0 -4em; position: absolute;}
.coluna.postsmaislidos h1{ margin: 1em 0;}
.coluna .justgo {margin:2em 0;}
.coluna.widget_facebook_likebox	h1 span:after{content:url(images/seta_sidebar.png); margin: -1em 0 0 -1.5em; position: absolute;}
.coluna.instagram	h1 span:after{content:url(images/seta_vejatambem.png); margin: -1em 0 0 -1.5em; position: absolute;}


.interna{width:63%;}


.interna h1{text-align: center;
    font-size: 1.8em;
    letter-spacing: 0.1em;
    margin: 0.5em 0;}


#vejatambem a.coluna{display:inline-block;width: 45%;margin: 0 2%;text-align:center;vertical-align:top}

.data{display:table;text-align:center;margin:0 auto 1em auto;text-transform:uppercase;    color: #5878af;
    font-size: 0.7em;
    letter-spacing: 0.1em;}
.data hr{margin:0.5em 0;}

.risco_duplo{    border-bottom: double 4px #3ba5dc;
    width: 13%;
    margin: 0 auto 1em auto;}
.justgo {text-align:center;    margin: 2em 0 4em 0;}
.justgo.plus{margin:2em 0 0em 12em}
hr {border-bottom: solid 1px #b0c5e1;}
.justgo p{padding:0.5em 1em;border:solid 1px #b0c5e1;background-color:#fff;display:inline-block;text-align:center;margin: -1.3em auto 0 auto;
    color: #b0c5e1 !important;
    font-weight: 700;
    font-style: italic;}
	
.justgo h2{padding:0.5em;background-color:#fff;display:inline-block;text-align:center;margin: -1.3em auto 0 auto;
    color: #b0c5e1 !important;
    font-weight: 700;
    font-style: italic;}
	
.post{
    text-align: justify;
}
	
	
.compartilhe {text-align:center;    margin: 3em 0 1em 0;}
.compartilhe ul{display:table;margin: -1.3em auto 0 auto;}
.compartilhe li{padding:0.5em 1em;border:solid 1px #b0c5e1;background-color:#fff;display:table-cell;text-align:center;color: #b0c5e1 !important; }
		
		
.resumo_post{    column-count: 2;    column-gap: 0;margin: 2em 0px 4em 0;border-top: solid 1px #b0c5e1; border-right: solid 1px #b0c5e1;}
.resumo_post li{border-left:solid 1px #b0c5e1;border-bottom:solid 1px #b0c5e1;padding:0.2em;color:#6d6e71;}
.resumo_post li span{color:#5878af;font-weight:700}

.resumo_post li span.idi:before{content:url(images/icone_idioma.png);display: inline-block;padding: 0.5em;vertical-align: middle;}
.resumo_post li span.tra:before{content:url(images/icone_transporte.png);display: inline-block;padding: 0.5em;vertical-align: middle;}
.resumo_post li span.pra:before{content:url(images/icone_prato.png);display: inline-block;padding: 0.5em;vertical-align: middle;}
.resumo_post li span.moe:before{content:url(images/icone_moeda.png);display: inline-block;padding: 0.5em;vertical-align: middle;}
.resumo_post li span.vol:before{content:url(images/icone_voltagem.png);display: inline-block;padding: 0.5em;vertical-align: middle;}
.resumo_post li span.aco:before{content:url(images/icone_acomodacao.png);display: inline-block;padding: 0.5em;vertical-align: middle;}
		
#parent-60 .nos_dentro, #parent-62 .nos_dentro, .nos_dentro.plus{width:100%;margin:auto;}
.parent-page .justgo{margin:1em 0 2em 0;}

.parent-page{margin:6em 0 0 0; text-align: justify!important;}
#parent-62:before{content:url(images/nossahistoria.png);text-align:center;margin: auto;display: block;}
#parent-68 h2{display:none;}
.nos_dentro p{font-weight:300;margin:0.5em 0; text-align: justify!important;}


.imagem_post{border:solid 1px #b0c5e1;padding:4px;}

.imagem_post img{min-width:100%;}

.categoria{ color:#476ca9;
    text-align: center;
    margin: 1em; text-transform:uppercase;font-family: 'nexa_boldregular', sans-serif;  font-size:0.8em;letter-spacing: 0.2em;}
	
.azul_italico{color: #b0c5e1;
    font-style: italic;
    margin: 0 0 0.5em 0;}
	
.tags{color:#b0c5e1;text-transform:uppercase;font-size:0.7em;text-align:center;letter-spacing:0.1em;margin-bottom:5em}
.tags a{color:#b0c5e1;}
	
.pagination{text-align:center;font-family: 'nexa_boldregular';}
.pagination li{display:inline-block;}
.pagination a{color:#262262;}
.page-numbers{padding:0.8em 1.2em;}
.page-numbers:hover, .page-numbers.current{background-color:#b3c7e2;color:#fff;border-radius:100%;}

.risco_meio{overflow:hidden;}
.risco_meio img{max-width:initial;}

.risco_branco_bottom{
    position: absolute;
    z-index: 900;width:100%;}
	
.risco_branco_bottom.home{margin-top: -14px;	}

#porondeandamos{width:90%;max-width:1100px;margin: 6vh auto;font-size:0.9em;letter-spacing:0.1em;overflow:hidden;}
#porondeandamos_single_mobile{display:none;}
#porondeandamos h1, #porondeandamos_single_mobile h1{text-align:center;color:#15b8d2;font-size: 2.3em;
    letter-spacing: 0.2em;}
#porondeandamos h2, #porondeandamos_single_mobile h2{text-align:center;color:#0285c6;font-family: 'nexa_boldregular';text-transform:uppercase;letter-spacing: 0.2em; font-size: 1.1em; margin: 1em 0 0 0;}
.mapa{width:65%;display:inline-block;font-size: 1.2em;
    margin: 0.5em 0;}
.menu-por-onde-andamos-container{display:inline-block;width: 25%;
    margin-left: 6%;vertical-align: 11vh;}
.menu-por-onde-andamos-container li a{font-family: 'nexa_boldregular';text-transform:uppercase;border-bottom:solid 1px #d1d2d3;padding: 0.8em 0;display: block;    letter-spacing: 0.2em;}
.menu-por-onde-andamos-container li.fomos a{color:#15b8d2}
.menu-por-onde-andamos-container li:hover{background-color:#eaeaea;}
.menu-por-onde-andamos-container a{color:#d1d2d3}

#rodape{background-color:#f4f6f8;padding:3em;}
#rodape_dentro{width:90%;max-width:1100px;margin: 0 auto;}
#rodape_dentro h1{text-align:center;color:#262262;margin-bottom: 1em;    letter-spacing: 0.1em; font-size: 2.3em;}

#instagram{width:90%;max-width:1100px;margin: 0 auto;}
#instagram_mobile{display:none;width:90%;max-width:1100px;margin: 0 auto;}
#sb_instagram {border:solid 1px #b5c8e3;margin:1em 0 2em 0 !important}

#contato_rodape{background-color: #fff;
    display: inline-block;
    padding: 1em 2em;
    border: solid 1px #b0c5e1;width: 59%;}
.wpcf7-form p{	border-bottom: solid 1px #b0c5e1; font-size:0.9em;color:#6d6e71;    padding: 0.5em;}
.wpcf7-form p:last-of-type{	border-bottom: 0px; padding: 0.5em 0 0 0;}
#contato_rodape input, #contato_rodape textarea{width:100%;padding: 1%;font-family: inherit;}
#contato_rodape input[type="submit"]{color:#2eb2e5;font-family: 'nexa_boldregular';text-transform:uppercase;background-color:transparent}
	
#texto_rodape{    display: inline-block;
    width: 30%;
        margin-left: 5%;
    font-size: 0.9em;}
#texto_rodape hr{border-bottom-color: #fff;    margin: 2em 0;}
#texto_rodape a, #fale_reduzido a{color:#262262;text-decoration:underline;}
#texto_rodape p, #fale_reduzido p{color:#6d6e71}

#fale_reduzido{margin:2em 0;text-align:center}

#instagram h2, #instagram_mobile h2, #siga h2, #fale_reduzido h2{text-transform:uppercase; color:#476ca9;text-align:center;font-family: 'nexa_boldregular';font-size:1em;letter-spacing:0.2em}
#instagram h2:after, #instagram-mobile h2:after{content:url(images/seta_sidebar.png);    margin: 0 0 0 -1em;}
#siga h2:after{content:url(images/seta_siga_redessociais.png);position: absolute;}

#rodapezinho{width:90%;max-width:1100px;margin: 0 auto;padding:1em;}
#rodapezinho p{display:inline-block;font-size:0.8em;color:#3c396f}
#rodapezinho a{color:#3c396f;text-decoration:underline}
#rodapezinho .coluna1{margin-right: 26em;}


/* pager */
.example-pager {  text-align: right; width: 100%; margin-top:-15px; }

.example-pager span { 
    font-family: arial; font-size: 50px; width: 16px; height: 16px; 
    display: inline-block; color: #ddd; cursor: pointer; 
}
.example-pager span.cycle-pager-active { color: #43c6c6;}
.example-pager > * { cursor: pointer;}

#slides_home{border-top: solid 1px #7ca7da;}
#slides_home .slides{
	background-size:cover;height:400px;
	width:100%;background-position:center;
}
#slides_home .slides span {
color: #fff;
text-transform:uppercase;
font-size: 3.8em;
text-align:center;
    width: 40%;
    margin: 0 auto;
    padding: 2em 0 0 0;
    display: block;
/*    text-shadow: 1px 1px 8px #000;*/
    border-bottom: solid 1px #fff;
	font-family: 'nexa_lightregular';
}
#slides_home .cycle-prev, #slides_home .cycle-next{position: absolute;
    top: 0;
    width: 30%;
    z-index: 800;
    height: 100%;
    cursor: pointer;
	}
#slides_home .cycle-prev {
    left: 0;
    background: url(images/prev-home.png) 50% 50% no-repeat;}
#slides_home .cycle-next {
    right: 0;
    background: url(images/next-home.png) 50% 50% no-repeat;}	



#slides_index .slides{
	background-size:cover;height:400px;
	background-position:center;width:99.2%;border:solid 4px #fff;
}
#slides_index .cycle-slideshow{
	width:90%;margin:auto;max-width:1100px;border: solid 1px #b3c7e2;
}
#slides_index .slides div.moldura {
    width: 40%;
    padding: 1%;
    border: solid 1px #b3c7e2;
	position:absolute;
	left: 50%;
    top: 30%;
    margin-left: -21%;

}
#slides_index .slides div.dentro {
	background-color:#fff;
text-align:center;
	color:#262262;
	padding:1.5em;
}
#slides_index .slides div.dentro h1{font-size:1.3em;letter-spacing:0.1em;}

#slides_index .slides div.dentro div.justgo{margin:2em 0 0 0;}

.cycle-prev, .cycle-next{position: absolute;
    top: 0;
    width: 10%;
    z-index: 800;
    height: 100%;
    cursor: pointer;
	}
#slides_index .cycle-prev {
    left: 0;
    background: url(images/prev-blog.png) 50% 50% no-repeat;}
#slides_index .cycle-next {
    right: 0;
    background: url(images/next-blog.png) 50% 50% no-repeat;}	

#comments{

    }
.comment-body{margin-left:80px;}

#comments .avatar{    border-radius: 100%;margin-left: -80px;position:absolute}

#comments .comment-meta{display:inline-block;
    font-size: 0.75em;
    text-transform: uppercase;letter-spacing: 0.1em;padding: 0 0.5em;}
	
#comments .comment-meta:before{content:" •\00a0\00a0\00a0 em ";color: #b0c5e1;}

#comments .comment-meta a{	    color: #b0c5e1;}

#comments .comment-author{color: #b0c5e1;padding: 0.5em 0;display:inline-block;}
#comments .comment-author a{color: #b0c5e1;font-weight: 700; font-style: italic;}

.reply{border-top: solid 1px #b0c5e1;    padding: 3em 0;
    margin-top: -2em;
    font-size: 0.8em;
    letter-spacing: 0.1em;
}
	
.comment-reply-link { color: #b0c5e1;font-size: 0.9em;
    text-transform: uppercase;}
 
#comments h3, #respond h3{ text-align:center;color:#476ca9;font-family: 'nexa_boldregular';text-transform:uppercase;letter-spacing:0.1em;    font-size: 0.9em;}
#comments h3:after{content:url(images/seta_deixe_comentario.png);display:block;}
#respond h3:after{display:none;}
 
ol.commentlist{
    list-style:none;
    }
 
ol.commentlist li{
    margin-bottom:30px;
    }
 
ol.commentlist ul{
    margin:0px;
    }
 
ol.commentlist ul li{
    margin:1em 0 1em 80px;
    }
ol.commentlist ul li:before{content:url(images/seta_resposta_comentario.png);    position: absolute;    margin-left: -52px;} 
 
#respond{

    }
#respond p{border: solid 1px #b2c7e2;padding:1em;margin:0.5em 0}
 
#respond form label{
vertical-align:top;
    }
 
#respond form input,#respond form textarea{
width:80%;
padding:1%;
font-family:inherit;
    }
 
#respond form input.commentsubmit{
color:#2eb2e5;font-family: 'nexa_boldregular';text-transform:uppercase;background-color:transparent;width:100%;
    }
.says{display:none}


.youtube_channel.youtube-home {
     float: initial; 
     clear: initial;
    position: initial;
    box-sizing: border-box;
}
.youtube_channel.youtube-home .ytc_video_container {
     float:initial;
     position: initial;
    display: inline-block;
    margin: 2%;

}

/* responsivo */

 @media only screen 
    and (max-width : 1276px) {
        .menu-por-onde-andamos-container{width:80%;margin:auto;text-align:center;display: block;}
        .mapa{width:100%;}
        #contato_rodape{width:50%;}
    }

 @media only screen 
    and (max-width : 767px) {
		
		#topo div {display:block;margin:auto;width:100%;text-align:center;}
		#logo{    width: 80% !important;  margin: 8% auto !important;}
		#risco_branco_topo, #risco_topo, .risco_branco_bottom{overflow:hidden;}
		#risco_branco_topo img, #risco_topo img, .risco_branco_bottom img{max-width:initial;}
		#posts_home_dentro div.coluna{width:96%;margin:2%}
		#posts_home_dentro div.coluna.dois{display:none}		
		#posts_home {padding:2em 0;}
		.slides{height:300px;}
		.slides span{width:80%;padding:1em 0 0 0}
		#slides_index{    height: 450px;}
		#slides_index .cycle-slideshow{width:initial;}
		#slides_index .slides{width:97.2%;height:250px;}
		#slides_index .slides div.moldura{width: initial;position: initial; left: initial; top: initial; margin-left: initial; margin-top: 270px;}
		#slides_index .cycle-prev, #slides_index .cycle-next{width:30%;background-position:50% 97%;}
		#nos_home .nos_home_texto{text-align:center;display:inline-block;    width: 80%;vertical-align: 130%;}
		#nos_desktop, #localiza_desktop, #rodape_desktop{display:none;}
		#nos_mobile, #localiza_mobile, #rodape_mobile{display:block;}
		#menu-mobile{display:block;}
		#menu{display:none;}
		#menu-mobile .menu-menu-1-container{width:initial;margin:initial;}
		#menu-mobile .menu-menu-1-container li ul li a {font-size: 0.8em;}
		#menu-mobile .menu-menu-1-container li ul li {padding:0.2em;}
		#porondeandamos_single_mobile #porondeandamos{margin:0 auto}
		#porondeandamos_single_mobile{display:block;}
		#porondeandamos h1, #porondeandamos_single_mobile h1{font-size: 1.8em;letter-spacing: 0.1em;}
		#porondeandamos h2, #porondeandamos_single_mobile h2{margin: 0.5em 0 0 0;}
		#rodape{padding:2em;}
		#rodape_dentro h1{letter-spacing: 0.05em;font-size: 1.7em;}
		#contato_rodape{width:initial; margin: auto; display: block;}
        #estamos-aqui-img{margin:auto; display: block;}
		#texto_rodape { display: initial; width: initial; margin-left: initial; font-size: initial;text-align: center;}
		#rodapezinho{padding:2em 0;}
		#rodapezinho .coluna1{width: 100%; margin: 1em auto; text-align: center;}
		#rodapezinho .coluna2{text-align: center;display:block;}
		#sidebar, #instagram{display:none;}
		#instagram_mobile{display:block;}
		#texto_rodape p {margin: 1em 0 0 0;}
		.interna{width:initial;}
		.data{    width: 40%;}
		.resumo_post { column-count: initial; }
		#vejatambem a.coluna{width:initial}
		#comments .comment-meta { float: initial; margin-top: initial; }
		ol.commentlist ul li { margin: 1em 0 1em 50px; }
		.justgoplus {width:84%;padding:0.3em;}
		.justgoplus img{min-width:100%;}
		.justgo.plus { margin: 2em 0 0em 0;position:relative}
		.justgo.plus h2{    width: 100%;   margin: 4em 0 0em 0;}
		.justgo.plus img{ margin: 0 0 0 -111px; position: absolute; left: 50%; top: 0;}
		
		#slides_home .cycle-prev, #slides_home .cycle-next{background-position:50% 85%}
		#slides_home .slides span{width:80%;font-size:2.8em;}
		.ytc_video_3{display:none !important}
	}