@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?77hpix');
	src:url('fonts/icomoon.eot?#iefix77hpix') format('embedded-opentype'),
		url('fonts/icomoon.woff?77hpix') format('woff'),
		url('fonts/icomoon.ttf?77hpix') format('truetype'),
		url('fonts/icomoon.svg?77hpix#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\e600";
}
